---
import FormInput from "@components/FormInput";
import Layout from "@layouts/Layout.astro";
---

<Layout pagesTitle="Create">
  <h1 class="text-center text-2xl font-bold">Create New Trip</h1>
  <FormInput client:load />
</Layout>
